@model IEnumerable<WEB_SITE.Models.EscalasVM>

@{
    ViewData["Title"] = "Listado de Escalas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Escalas">Crear Escalas</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idVuelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ciudadEscala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracionEscala) (in Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracionLlegada) (in Hours)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idVuelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ciudadEscala)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DuracionEscala) h
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DuracionLlegada) h
                    </td>
                    <td>
                        <a href="@Url.Action("Modify","Escalas")" class="btn btn-primary">
                            <i class="fas fa-edit" aria-hidden="true"></i> Edit
                        </a> |
                        <a onclick="EliminarEscala();" class="btn btn-danger">
                            <i class="fas fa-trash" aria-hidden="true"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row">No Hay Data</th>
            </tr>
        }
    </tbody>
</table>
