@model IEnumerable<WEB_SITE.Models.Paises>

@{
    ViewData["Title"] = "Listado de Paises";
}
@if (TempData["CreatePais"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Exito!</strong> @TempData["CreatePais"].ToString().
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["ModifyPais"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Exito!</strong> @TempData["ModifyPais"].ToString().
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h1>@ViewData["Title"]</h1>
<p>
    <a   class="btn btn-primary" asp-action="Create" asp-controller="Paises" >Crear Pais</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais)
                    </td>
                    <td>
                        <a href="@Url.Action("Modify","Paises")" class="btn btn-primary">
                            <i class="fas fa-edit" aria-hidden="true"></i> Edit
                        </a> |
                        <a onclick="Eliminar(@item.idPais,'@item.Pais');" class="btn btn-danger">
                            <i class="fas fa-trash" aria-hidden="true"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        }
        else
            {
              <tr>
             <td scope="row">No Hay Data</td>
             </tr>
            }
            </tbody>
</table>

@section Scripts{
    <script>
        function Eliminar(id,pais){
            Swal.fire({
                title: `Estas seguro de Elimiar el Pais ${pais}?`,
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si Eliminalo!'
            }).then((result) => {
                if (result.isConfirmed) {

                    var url = '@Url.Content("~/Paises/Delete/")'+id;
                    $.post(url, id).done( function (data) {
                        if (data.success) {
                            Swal.fire(
                                'Eliminado!',
                                'Pais Eliminado.',
                                'success'
                            ).then(() => {
                                // Espera 2 segundos antes de recargar la página
                                setTimeout(() => {
                                    location.reload();
                                }, 0);
                            });
                        }else{
                            Swal.fire(
                                'Fallo!',
                                'Pais No Eliminado.',
                                'warning'
                            )
                        }
                    });
                   
                }
            });
        }
    </script>
}
