@model IEnumerable<WEB_SITE.Models.Access>

@{
    ViewData["Title"] = "Listado de Accesos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a   class="btn btn-primary" asp-action="Create" asp-controller="Access" >Crear Accesos</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                     <td>
                        <a href="@Url.Action("Modify","Access")" class="btn btn-primary">
                            <i class="fas fa-edit" aria-hidden="true"></i> Edit
                        </a> |
                        <a onclick="EliminarAcceso();" class="btn btn-danger">
                            <i class="fas fa-trash" aria-hidden="true"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        }   
        else
        {
            <tr>
             <th scope="row">No Hay Data</th>
            </tr>
        }
    </tbody>
</table>
