@model IEnumerable<WEB_SITE.Models.Access>

@{
    ViewData["Title"] = "Listado de Accesos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a   class="btn btn-primary" asp-action="Create" asp-controller="Access" >Crear Accesos</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCategoriesMenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idCategoriesMenu)
                    </td>
                    <td>
                        <i class="@item.Icon" aria-hidden="true"></i>
                    </td>
                     <td>
                        <a href='@Url.Content($"~/Access/Modify/{item.idAccess}")' class="btn btn-primary">
                            <i class="fas fa-edit" aria-hidden="true"></i> Edit
                        </a> |
                        <a onclick="EliminarAcceso(@item.idAccess,'@item.Name');" class="btn btn-danger">
                            <i class="fas fa-trash" aria-hidden="true"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        }   
        else
        {
            <tr>
             <th scope="row">No Hay Data</th>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function EliminarAcceso(id, Acceso) {
            Swal.fire({
                title: `Estas seguro de Elimiar el Acceso ${Acceso}?`,
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si Eliminalo!'
            }).then((result) => {
                if (result.isConfirmed) {

                    var url = '@Url.Content("~/Access/Delete/")' + id;
                    $.post(url, id).done(function (data) {
                        if (data.success) {
                            Swal.fire(
                                'Eliminado!',
                                'Acceso Eliminado.',
                                'success'
                            ).then(() => {
                                // Espera 2 segundos antes de recargar la página
                                setTimeout(() => {
                                    location.reload();
                                }, 2000);
                            });
                        } else {
                            Swal.fire(
                                'Fallo!',
                                'Cargo No Eliminado.',
                                'warning'
                            )
                        }
                    });

                }
            });
        }
    </script>
}
