@model IEnumerable<WEB_SITE.Models.AccessRolesVM>

@{
    ViewData["Title"] = "Listado de Accesos - Roles";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="AccessRoles">Crear Access Rol</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.access)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null ) { 
        @foreach (var item in Model) {
        <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.rol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.access)
                    </td>
                    <td>
                        <a href="@Url.Action("Modify","AccessRoles")" class="btn btn-primary">
                            <i class="fas fa-edit" aria-hidden="true"></i> Edit
                        </a> |
                        <a onclick="EliminarAccessRoles();" class="btn btn-danger">
                            <i class="fas fa-trash" aria-hidden="true"></i> Delete
                        </a>
                    </td>
        </tr>
}
        }
else
        {
            <tr>
                <th scope="row">No Hay Data</th>
            </tr>
        }
    </tbody>
</table>
